body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    color: #393D47;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #BE0000;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    text-decoration: none;
    font-size: 16px;
    color: #BE0000;
    border: 1px solid #BE0000;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.link:hover {
    background-color: #BE0000;
    color: #ffffff;
}

.featured-link {
    display: block;
    margin: 20px auto;
    padding: 15px 20px;
    background-color: #BE0000; /* Red background */
    color: #ffffff; /* White text */
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #BE0000; /* Red outline */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, border;
}

.featured-link:hover {
    background-color: #ffffff; /* White background */
    color: #BE0000; /* Red text */
    border: 1px solid #BE0000; /* Red outline */
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        padding-top: 20px;
    }
}